## Objetivo

A partir de uma planilha de produtos e serviços, é necessário atualizar o preço dos produtos considerando um novo imposto dos serviços. 
Com o aumento de imposto sobre os serviços, temos que atualizar o preço dos produtos impactados pela mudança.

Novo Multiplicador Imposto: 1.5

## Atualização dos Preços de produtos na planilha com Pandas

### 1º - Importar Base de Dados

In [1]:
# Importando Base de dados

import pandas as pd

tabela = pd.read_excel('Produtos.xlsx')

display(tabela)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.3,5850.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.3,1038.700
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.3,624.624
6,Corte Cabelo,50.00,Serviço,1.3,65.000

### 2º - Atualizar multiplicador de Imposto

In [2]:
tabela.loc[tabela['Tipo'] == "Serviço", 'Multiplicador Imposto'] = 1.5

### 3º - Atualizar (calcular) Preço Base Reais

In [6]:
tabela['Preço Base Reais'] = tabela['Multiplicador Imposto'] * tabela['Preço Base Original']

tabela.to_excel('Produtos_atualizado.xlsx', index=False)

print('Tabela de Preços atualizada!')

Tabela de Preços atualizada!

In [7]:
tabela_atualizada = pd.read_excel('Produtos_atualizado.xlsx')


display(tabela_atualizada)

,Produtos,Preço Base Original,Tipo,Multiplicador Imposto,Preço Base Reais
0,Tablet,999.99,Produto,1.1,1099.989
1,Pós Graduação,4500.00,Serviço,1.5,6750.000
2,Celular,899.99,Produto,1.1,989.989
3,Passagem Aérea,799.00,Serviço,1.5,1198.500
4,Computador,3000.00,Produto,1.1,3300.000
5,SPA,480.48,Serviço,1.5,720.720
6,Corte Cabelo,50.00,Serviço,1.5,75.000

## Atualização dos Preços de produtos na planilha com Openpyxl